@import '../global.scss';

.addLiqui-pc {
    /* display: none; */
    /*隐藏增加流动性*/
    background-color: #fff;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 4000;
}

.addLiqui-pc .main {
    width: 100%;
    height: 348px;
    padding-top: 5px;
}

.addLiqui-pc .main .coinDiv {
    border: 1px solid #E1E5EA;
    border-radius: 16px;
    margin-bottom: 15px;
    height: 100px;
}

.addLiqui-pc .main .coinDiv .firstPart {
    width: 90%;
    height: 45px;
    margin: 0px auto;
    line-height: 45px;
}

.addLiqui-pc .main .coinDiv .firstPart div:nth-child(1) {
    float: left;
}

.addLiqui-pc .main .coinDiv .firstPart div:nth-child(1) img {
    width: 30px;
    margin-top: -3px;
    margin-right: 8px;
}

.addLiqui-pc .main .coinDiv .firstPart div:nth-child(1) span {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    display: inline-block;
}

.addLiqui-pc .main .coinDiv .firstPart div:nth-child(2) {
    float: right;
}

.addLiqui-pc .main .coinDiv .firstPart div:nth-child(2) span:nth-child(1) {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
}

.addLiqui-pc .main .coinDiv .firstPart div:nth-child(2) span:nth-child(2),
.addLiqui-pc .main .coinDiv .firstPart div:nth-child(2) .span:nth-child(3) {
    font-weight: 400;
    color: #999999;
}

.addLiqui-pc .main .coinDiv .second {
    height: 40px;
    width: 90%;
    margin: 0 auto;
}

.addLiqui-pc .main .coinDiv .second input {
    width: 75%;
    margin-bottom: 12px;
    background: #FAFAFA;
    padding: 0px 13px;
    height: 40px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    margin-right: 12px;
}

.addLiqui-pc .main .coinDiv .second .approve {
    //  display: none;  /*隐藏按钮*/
    background: #2480FF;
    border-radius: 12px;
    width: 64px;
    font-size: 12px;
    line-height: 40px;
    height: 40px;
    color: #ffffff;
    margin-bottom: 12px;
}

.addLiqui-pc .main .coinDiv .second .noApprove {
    display: none;
    /*隐藏按钮*/
    background: #D4DDE9;
    border-radius: 12px;
    width: 64px;
    font-size: 12px;
    line-height: 40px;
    height: 40px;
    color: #ffffff;
    margin-bottom: 12px;
}

.addLiqui-pc .butDiv {
    width: 100%;
}

.addLiqui-pc .butDiv div {
    height: 50px;
    line-height: 50px;
}

.addLiqui-pc .butDiv div span {
    font-size: 10px;
    float: right;
}

.addLiqui-pc .butDiv div img {
    width: 5%;
    float: right;
    display: block;
    margin: 18px 5px;
}

.addLiqui-pc .butDiv button {
    width: 90%;
    margin: 0px auto;
    height: 50px;
    // background: #2480FF;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    display: block;
}