@import '../global.scss';

@media screen and (min-width: 768px) {
    .swap-pc {
        background-color: #fff;
        height: auto;
        width: 100%;
        position: relative;
    }
    
     .swap-pc .main {
        width: 100%;
        height: 290px;
        border-radius: 12px;
        border: 1px solid #EFF2F5;
        padding-top: 5px;
    }
    
     .swap-pc .main .el-checkbox-group {
        height: 56px;
        width: 90%;
        margin: 0 auto;
    }
    
     .swap-pc .main .el-checkbox-group .el-checkbox {
        width: 49%;
        padding: 14px;
    }
    
     .swap-pc .main .el-checkbox-group .el-checkbox input {
        width: 16px;
        height: 16px;
        border-radius: 10px;
        border: 1px solid #EFF2F5;
    }
    
     .swap-pc .main .el-checkbox-group .el-checkbox img {
        width: 30px;
        margin-left: 10px;
        margin-right: 5px;
    }
    
     .swap-pc .main .el-checkbox-group .border_let {
        border-left: #EFF2F5 1px solid;
    }
    
     .swap-pc .main .enterDiv {
        width: 95%;
        height: 32%;
        margin: 10px auto 0px;
        border-top: 1px solid #EFF2F5;
        position: relative;
    }
    
     .swap-pc .main .enterDiv img {
        width: 55px;
        position: absolute;
        top: -30px;
        left: 43%;
    }
    
     .swap-pc .main .enterDiv .blanceDiv {
        height: 44px;
        padding-top: 14px;
    }
    
     .swap-pc .main .enterDiv .blanceDiv .blance {
        float: left;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #000000;
        line-height: 28px;
        margin-right: 10px;
    }
    
     .swap-pc .main .enterDiv .blanceDiv p {
        float: left;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        line-height: 28px;
        margin: 0px;
    }
    
     .swap-pc .main .enterDiv .inputDiv {
        height: 50px;
    }
    
     .swap-pc .main .enterDiv .inputDiv .leftDiv {
        float: left;
        width: 50%;
        height: 40px;
        border: 1px solid #EFF2F5;
        border-radius: 12px;
        font-size: 12px;
        background: #FAFAFA;
    }
    
     .swap-pc .main .enterDiv .inputDiv .leftDiv input {
        padding: 0px 13px;
        height: 38px;
        width:73%;
        margin: 0 auto;
        float: left;   
        background: #FAFAFA;
        border-radius: 12px;
    }
    
     .swap-pc .main .enterDiv .inputDiv .leftDiv span {
        color: #2480FF;
        float: right;
        line-height: 38px;
        margin-right: 15px;
    }

    .swap-pc .main .enterDiv .inputDiv .rightDiv {
        width: 47%;
        float: right;
    }
    
    .swap-pc .main .enterDiv .inputDiv .rightDiv .minInput {
        background: #FAFAFA;
        padding: 0px 13px;
        height: 40px;
        width: 58%;
        margin: 0 auto;
        border: 1px solid #EFF2F5;
        border-radius: 12px;
        font-size: 12px;
        margin-right: 3px;
        // float: right;
    }

    .swap-pc .main .enterDiv .inputDiv .rightDiv button{
      display: inline-block;
      width: 38%;
    }
    
    .swap-pc .main .enterDiv .inputDiv .rightDiv .approve { 
        // display: none;  /*隐藏按钮*/
        background: #2480FF;
        border-radius: 12px;
        width: 60px;
        font-size: 12px;
        line-height: 40px;
        height: 40px;
        color: #ffffff;
        float: right;
    }
    
    .swap-pc .main .enterDiv .inputDiv .rightDiv .noApprove { 
        // display: none;  /*隐藏按钮*/
        background: #D4DDE9;
        border-radius: 12px;
        width: 60px;
        font-size: 12px;
        line-height: 40px;
        height: 40px;
        color: #ffffff;
        float: right;
    }
    
    
     .swap-pc .butDiv {
        width: 100%;
        height: 100px;
    }
    
     .swap-pc .butDiv div {
        width: 98%;
        height: 50px;
        line-height: 50px;
    }
    
     .swap-pc .butDiv div span {
        font-size: 14px;
        float: right;
    }
    
     .swap-pc .butDiv div img {
        width: 5%;
        float: right;
        display: block;
        margin: 18px 5px;
    }
    
     .swap-pc .butDiv button {
        width: 90%;
        margin: 0px auto;
        height: 50px;
        // background: #2480FF;
        border-radius: 16px;
        color: #fff;
        font-size: 16px;
        display: block;
    }

}
 @media screen and (max-width: 768px){
    .swap-pc {
        background-color: #fff;
        height: auto;
        width: 100%;
        position: relative;
    }
    
     .swap-pc .main {
        width: 100%;
        height: 290px;
        border-radius: 12px;
        border: 1px solid #EFF2F5;
        padding-top: 5px;
    }
    
     .swap-pc .main .el-checkbox-group {
        height: 56px;
        width: 90%;
        margin: 0 auto;
    }
    
     .swap-pc .main .el-checkbox-group .el-checkbox {
        width: 49%;
        padding: 14px;
    }
    
     .swap-pc .main .el-checkbox-group .el-checkbox input {
        width: 16px;
        height: 16px;
        border-radius: 10px;
        border: 1px solid #EFF2F5;
    }
    
     .swap-pc .main .el-checkbox-group .el-checkbox img {
        width: 30px;
        margin-left: 10px;
        margin-right: 5px;
    }
    
     .swap-pc .main .el-checkbox-group .border_let {
        border-left: #EFF2F5 1px solid;
    }
    
     .swap-pc .main .enterDiv {
        width: 95%;
        height: 32%;
        margin: 10px auto 0px;
        border-top: 1px solid #EFF2F5;
        position: relative;
    }
    
     .swap-pc .main .enterDiv img {
        width: 55px;
        position: absolute;
        top: -30px;
        left: 43%;
    }
    
     .swap-pc .main .enterDiv .blanceDiv {
        height: 44px;
        padding-top: 14px;
    }
    
     .swap-pc .main .enterDiv .blanceDiv .blance {
        float: left;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #000000;
        line-height: 28px;
        margin-right: 10px;
    }
    
     .swap-pc .main .enterDiv .blanceDiv p {
        float: left;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        line-height: 28px;
        margin: 0px;
    }
    
     .swap-pc .main .enterDiv .inputDiv {
        height: 50px;
    }
    
     .swap-pc .main .enterDiv .inputDiv .leftDiv {
        float: left;
        width: 50%;
        height: 40px;
        position: relative;
        background: #FAFAFA;
        border: 1px solid #EFF2F5;
        border-radius: 12px;
    }
    
     .swap-pc .main .enterDiv .inputDiv .leftDiv input {
        background: #FAFAFA;
        padding: 0px 13px;
        height: 38px;
        width: 70%;
        border-radius: 12px;
        font-size: 12px;
        float: left;
    }
    
     .swap-pc .main .enterDiv .inputDiv .leftDiv span {
        // position: absolute;
        // top: 12px;
        // right: 21px;
        color: #2480FF;
        line-height: 38px;
        margin-right: 8px;
        float: right;
    }

        
    .swap-pc .main .enterDiv .inputDiv .rightDiv {
        width: 47%;
        float: right;
    }
    
    .swap-pc .main .enterDiv .inputDiv .rightDiv .minInput {
        background: #FAFAFA;
        padding: 0px 13px;
        height: 40px;
        width: 57%;
        margin: 0 auto;
        border: 1px solid #EFF2F5;
        border-radius: 12px;
        font-size: 12px;
        margin-right: 3px;
    }

    .swap-pc .main .enterDiv .inputDiv .rightDiv button { 
       display: inline-block;
       width: 38%;
    }
    
    .swap-pc .main .enterDiv .inputDiv .rightDiv .approve { 
        // display: none;  /*隐藏按钮*/
        background: #2480FF;
        border-radius: 12px;
        width: 60px;
        font-size: 12px;
        line-height: 40px;
        height: 40px;
        color: #ffffff;
    }
    
    .swap-pc .main .enterDiv .inputDiv .rightDiv .noApprove { 
        // display: none;  /*隐藏按钮*/
        background: #D4DDE9;
        border-radius: 12px;
        width: 60px;
        font-size: 12px;
        line-height: 40px;
        height: 40px;
        color: #ffffff;
    }
    
    
     .swap-pc .butDiv {
        width: 100%;
        height: 100px;
    }
    
     .swap-pc .butDiv div {
        width: 98%;
        height: 50px;
        line-height: 50px;
    }
    
     .swap-pc .butDiv div span {
        font-size: 14px;
        float: right;
    }
    
     .swap-pc .butDiv div img {
        width: 5%;
        float: right;
        display: block;
        margin: 18px 5px;
    }
    
     .swap-pc .butDiv button {
        width: 90%;
        margin: 0px auto;
        height: 50px;
        // background: #2480FF;
        border-radius: 16px;
        color: #fff;
        font-size: 16px;
        display: block;
    }
 }