@media screen and (min-width: 768px) {
    .hide {
        display: none;
    }

    #maxDiv {
        background-color: #ffff;
    }

    #maxDiv .navigation {
        width: 100%;
        height: 60px;
        background-color: #ffff;
    }

    #maxDiv .navigation .cursor {
        cursor: pointer;
    }

    #maxDiv .navigation .main {
        width: 960px;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #maxDiv .navigation .main .logo {
        width: 100px;
        min-width: 140px;
        position: relative;
    }

    #maxDiv .navigation .main .logo img {
        width: 100%;
    }

    #maxDiv .navigation .main .leftpart {
        float: right;
    }

    #maxDiv .navigation .main .leftpart .lang {
        margin-right: 10px;
    }

    #maxDiv .navigation .main .leftpart .lang img {
        width: 30px;
    }

    #maxDiv .trade-pc {
        background: url(/assets/static/img/bigBG.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh - 270px);
        width: 100%;
        position: relative;
        z-index: 1000;
        padding-top: 20px;
        padding-bottom: 50px;
        overflow: hidden;
    }

    #maxDiv .trade-pc .main {
        margin: 0 auto;
        width: 460px;
        height: 80%;
    }

    #maxDiv .trade-pc .main .center {
        width: 100%;
        height: 82%;
        padding-bottom: 20px;
    }

    #maxDiv .trade-pc .main .center .tittleDiv {
        width: 100%;
        height: 43px;
        background: #FFFFFF;
        box-shadow: 0px 11px 35px 0px #EAF2FF;
        border-radius: 14px;
    }

    #maxDiv .trade-pc .main .center .tittleDiv p {
        font-size: 17px;
        padding-left: 30px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
        line-height: 43px;
    }

    #maxDiv .trade-pc .main .center .pool {
        width: 100%;
        height: 105px;
        background: #FFFFFF;
        box-shadow: 0px 11px 35px 0px #EAF2FF;
        border-radius: 17px;
        margin-top: 20px;
        padding-top: 15px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv {
        width: 90%;
        height: 88px;
        margin: 0 auto;
        border-radius: 13px;
        border: 1px solid #E3F1FF;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart {
        width: 55%;
        float: left;
        padding-left: 30px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .top {
        height: 24px;
        padding-top: 15px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .top div {
        float: left;
        width: 7px;
        height: 23px;
        background: #2480FF;
        border-radius: 38px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .top p {
        float: left;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
        line-height: 24px;
        margin-left: 10px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .coinDiv {
        padding-top: 12px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .coinDiv p {
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #989898;
        line-height: 30px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .rightPart {
        float: right;
        padding-right: 25px;
        padding-top: 20px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .rightPart .btn {
        cursor: pointer;
        width: 100px;
        height: 45px;
        background: url(/assets/static/img/jinru.jpg) no-repeat;
        background-size: 100% 100%;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .rightPart .btn a {
        display: block;
        height: 45px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #2480FF;
        line-height: 29px;
        line-height: 45px;
        font-size: 16px;
        padding-left: 15px;
    }

    #maxDiv .footer {
        width: 100%;
        height: 100px;
        background-color: #ffffff;
    }

    #maxDiv .footer .centerPart {
        width: 480px;
        height: 100px;
        margin: 0 auto;
    }

    #maxDiv .footer .centerPart ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }

    #maxDiv .footer .centerPart ul li {
        flex: 1;
        padding: 0 3px;
        display: block;
    }

    #maxDiv .footer .centerPart ul li a img {
        float: left;
        width: 25px;
        margin-right: 5px;
    }

    #maxDiv .footer .centerPart ul li a span {
        float: left;
        font-size: 12px;
        color: #8B8B8B;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    .hide {
        display: none;
    }

    #maxDiv {
        background-color: #ffff;
    }

    #maxDiv .navigation {
        width: 100%;
        height: 60px;
        background-color: #ffff;
        position: fixed;
        top: 0;
        z-index: 9999999;
    }

    #maxDiv .navigation .cursor {
        cursor: pointer;
    }

    #maxDiv .navigation .main {
        width: 86%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #maxDiv .navigation .main .logo {
        width: 100px;
        min-width: 140px;
        position: relative;
    }

    #maxDiv .navigation .main .logo img {
        width: 100%;
    }

    #maxDiv .navigation .main .leftpart {
        float: right;
    }

    #maxDiv .navigation .main .leftpart .lang img {
        width: 30px;
    }

    #maxDiv .trade-pc {
        background: #FAFCFF;
        background-size: 100% 100%;
        height: calc(100vh - 280px);
        width: 100%;
        position: relative;
        z-index: 1000;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    #maxDiv .trade-pc .main {
        margin: 0 auto;
        width: 100%;
        height: 80%;
    }

    #maxDiv .trade-pc .main .center {
        width: 100%;
        height: 82%;
        padding-bottom: 20px;
    }

    #maxDiv .trade-pc .main .center .tittleDiv {
        width: 100%;
        height: 43px;
        background: #FFFFFF;
        box-shadow: 0px 11px 35px 0px #EAF2FF;
        border-radius: 14px;
    }

    #maxDiv .trade-pc .main .center .tittleDiv p {
        font-size: 15px;
        padding-left: 30px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
        line-height: 43px;
    }

    #maxDiv .trade-pc .main .center .pool {
        width: 100%;
        height: 125px;
        background: #FFFFFF;
        box-shadow: 0px 11px 35px 0px #EAF2FF;
        border-radius: 17px;
        margin-top: 20px;
        padding-top: 15px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv {
        width: 90%;
        height: 108px;
        margin: 0 auto;
        border-radius: 13px;
        border: 1px solid #E3F1FF;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart {
        width: 55%;
        float: left;
        padding-left: 15px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .top {
        height: 24px;
        padding-top: 23px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .top div {
        float: left;
        width: 7px;
        height: 23px;
        background: #2480FF;
        border-radius: 38px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .top p {
        float: left;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
        line-height: 24px;
        margin-left: 10px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .coinDiv {
        padding-top: 12px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .leftPart .coinDiv p {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #989898;
        line-height: 30px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .rightPart {
        float: right;
        padding-right: 10px;
        padding-top: 30px;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .rightPart .btn {
        cursor: pointer;
        width: 85px;
        height: 40px;
        background: url(/assets/static/img/jinru.jpg) no-repeat;
        background-size: 100% 100%;
    }

    #maxDiv .trade-pc .main .center .pool .centerDiv .rightPart .btn a {
        display: block;
        height: 45px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #2480FF;
        line-height: 29px;
        line-height: 45px;
        font-size: 14px;
        padding-left: 15px;
    }

    #maxDiv .footer {
        width: 100%;
        height: 100px;
        background-color: #ffffff;
    }

    #maxDiv .footer .centerPart {
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    #maxDiv .footer .centerPart ul {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin: 0 auto;
        margin-top: 20px;
        background-color: #ffffff;
    }

    #maxDiv .footer .centerPart ul li {
        flex: 1;
        padding: 0 3px;
    }

    #maxDiv .footer .centerPart ul li a img {
        display: block;
        margin: 0 auto;
        width: 25px;
    }

    #maxDiv .footer .centerPart ul li a span {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #8B8B8B;
    }
}