<div class="maxDiv" id="maxDiv">
    <lib-header [needWallet]="false" #header></lib-header>
    <div class="trade-pc">
        <div class="main">
            <div class="center">
                <!-- <div class="chrismas">
                    <div>
                        <a *ngIf="lang.curLanguage.indexOf('en')===0"
                            href="https://bstable.medium.com/christmas-event-swap-or-become-a-lp-on-bstable-to-get-free-bnb-71b59e57240a"
                            target="_blank">
                            <img src="assets/static/img/chrismas_en.svg">
                        </a>
                        <a *ngIf="lang.curLanguage.indexOf('zh')===0"
                            href="https://shimo.im/docs/9XkHRPvYP8PPRKjW/"
                            target="_blank">
                            <img src="assets/static/img/chrismas_zh.svg">
                        </a>
                    </div>
                </div> -->
                <div class="tittleDiv">
                    <p>{{"Choose a Pool"|translate}}</p>
                </div>
                <div class="pool">
                    <div class="centerDiv">
                        <div class="leftPart">
                            <div class="top">
                                <div></div>
                                <p>{{"Pool 1"|translate}}</p>
                            </div>
                            <div class="coinDiv">
                                <p>bstDAI / bstBUSD/ bstUSDT </p>
                            </div>
                        </div>
                        <div class="rightPart">
                            <div class="btn">
                                <a href="/p1">{{"Enter"|translate}}</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="pool">
                    <div class="centerDiv">
                        <div class="leftPart">
                            <div class="top">
                                <div></div>
                                <p>{{"Pool 2"|translate}}</p>
                            </div>
                            <div class="coinDiv">
                                <p>BTCB / renBTC/ anyBTC </p>
                            </div>
                        </div>
                        <div class="rightPart">
                            <div class="btn">
                                <a href="/p2">{{"Enter"|translate}}</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="pool">
                    <div class="centerDiv">
                        <div class="leftPart">
                            <div class="top">
                                <div></div>
                                <p>{{"Pool 3"|translate}}</p>
                            </div>
                            <div class="coinDiv">
                                <p>QUSD / DAI / VAI</p>
                            </div>
                        </div>
                        <div class="rightPart">
                            <div class="btn">
                                <a href="https://p3.bstable.finance/" target="_blank">{{"Enter"|translate}}</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <lib-footer></lib-footer>
</div>