<div class="maxDiv" id="maxDiv">
    <lib-header [needWallet]="false" #header></lib-header>
    <div class="trade-pc">
        <div class="main">
            <div class="center">
                <div class="tittleDiv">
                    <p>{{"Choose a Pool"|translate}}</p>
                </div>
                <div class="pool">
                    <div class="centerDiv">
                        <div class="leftPart">
                            <div class="top">
                                <div></div>
                                <p>{{"Pool 1"|translate}}</p>
                            </div>
                            <div class="coinDiv">
                                <p>DAI / BUSD/ USDT </p>
                            </div>
                        </div>
                        <div class="rightPart">
                            <div class="btn">
                                <a href="https://p1.bstable.finance" target="_blank">{{"Enter"|translate}}</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="pool">
                    <div class="centerDiv">
                        <div class="leftPart">
                            <div class="top">
                                <div></div>
                                <p>{{"Pool 2"|translate}}</p>
                            </div>
                            <div class="coinDiv">
                                <p>QUSD / BUSD/ USDT </p>
                            </div>
                        </div>
                        <div class="rightPart">
                            <div class="btn">
                                <a href="https://p2.bstable.finance" target="_blank">{{"Enter"|translate}}</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="pool">
                    <div class="centerDiv">
                        <div class="leftPart">
                            <div class="top">
                                <div></div>
                                <p>{{"Pool 3"|translate}}</p>
                            </div>
                            <div class="coinDiv">
                                <p>QUSD / DAI / VAI</p>
                            </div>
                        </div>
                        <div class="rightPart">
                            <div class="btn">
                                <a href="https://p3.bstable.finance/" target="_blank">{{"Enter"|translate}}</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <lib-footer></lib-footer>
</div>