<div class="assetDiv">
    <div class="main">
        <div class="tittle">
            <div></div>
            <p>{{"Liquidity"|translate}}</p>
        </div>
        <div class="consinfo">
            <ul>
                <li *ngFor="let coin of boot.coins;let i=index">
                    <p><em class="coinName">{{coin.symbol}}:</em> <em class="coinVal">{{boot.poolInfo.coinsBalance[i].toFixed(9)}}</em></p>
                    <span>{{percent(i).toFixed(2)}}%</span>
                </li>
            </ul>
        </div>
        <div class="sum">
            <p>{{getCoinsStr()}}：</p>
            <p>{{getTotal().toFixed(9)}}</p>
        </div>
    </div>
</div>