<div class="maxDiv" id="maxDiv">
    <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>
    <div class="navigation">
        <div class="main">
            <div class="logo">
                <img class="cursor" src="assets/static/img/logo.png" alt="logo">
            </div>
            <div class="leftpart">
                <div class="ConnectedButton" *ngIf="boot.accounts.length>0; else noConnect">
                    <span class="network">{{boot.chainConfig?boot.chainConfig.name:''}}</span>
                    <span class="address">{{boot.accounts.length>0?boot.accounts[0]:''}}</span>
                    <img src="assets/static/img/conncted.png" alt="">
                </div>
                <ng-template #noConnect>
                    <!-- data-toggle="modal" data-target="#con-close-modal -->
                    <button class="noConnectButton btn btn-primary" (click)="connectWallet()">
                        <img src="assets/static/img/noConnct.png" alt="">
                        <span>{{"Connect to a Wallet"|translate}}</span>
                    </button>
                </ng-template>
                <div class="lang">
                    <img *ngIf="lang.curLanguage.indexOf('en')!=0" src="assets/static/img/en.png" alt=""
                        (click)="changeLang('en')">
                    <img *ngIf="lang.curLanguage.indexOf('zh')!=0" src="assets/static/img/cn.png" alt=""
                        (click)="changeLang('zh')">
                </div>
            </div>
        </div>
    </div>
    <div class="trade-pc">
        <div class="main">
            <div class="swapContent">
                <ul class="tabDiv">
                    <li [ngClass]="{active: curTab==0}" (click)="changeTab(0)">{{'Swap'|translate}}</li>
                    <li [ngClass]="{active: curTab==1}" (click)="changeTab(1)">{{'Add Liquidity'|translate}}</li>
                    <li [ngClass]="{active: curTab==2}" (click)="changeTab(2)">{{'Manage Liquidity'|translate}}</li>
                </ul>
                <div class="SwapDiv">
                    <app-swap-comp [hidden]="curTab!=0" (loading)="onLoading()" (loaded)="onLoaded()"></app-swap-comp>
                    <app-addliquidity-comp [hidden]="curTab!=1" (loading)="onLoading()" (loaded)="onLoaded()">
                    </app-addliquidity-comp>
                    <app-redeemliquidity-comp [hidden]="curTab!=2" (loading)="onLoading()" (loaded)="onLoaded()">
                    </app-redeemliquidity-comp>

                </div>
            </div>

            <app-pool-info></app-pool-info>
        </div>
    </div>

    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog" id="fabu">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <img src="assets/static/img/wallet.png" alt="">
                    <h4 class="road_title">
                        Connect to a Wallet
                    </h4>
                    <p>Please select a wallet to connect</p>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <ul>
                            <li>
                                <img src="assets/static/img/wallet/metamask.png" alt="">
                                <span>MetaMask</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>