@import './global.scss';

@media screen and (min-width: 768px) {
    #maxDiv {
        background-color: #ffff;
    }
    
    #maxDiv .navigation {
        width: 100%;
        height: 60px;
        background-color: #ffff;
        // position: fixed;
        // top: 0;
        // z-index: 9999999;
    }
    
    #maxDiv .navigation .cursor {
        cursor: pointer;
    }
    
    #maxDiv .navigation .main {
        width: 960px;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #maxDiv .navigation .main .logo {
        width: 100px;
        min-width: 140px;
        position: relative;
    }
    
    #maxDiv .navigation .main .logo img {
        width: 100%;
    }
    
    #maxDiv .navigation .main .leftpart .noConnectButton {
        padding: 0px;
        width: 190px;
        height: 32px;
        background: #FAFAFA;
        color: #0E0E0E;
        border: #BEBEBE 0.5px solid;
        border-radius: 12px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 1px;
        outline: none;
    }
    
    #maxDiv .navigation .main .leftpart .noConnectButton img {
        float: left;
        width: 19%;
    }
    
    #maxDiv .navigation .main .leftpart .ConnectedButton img {
        float: right;
        width: 30px;
    }
    
    #maxDiv .navigation .main .leftpart .ConnectedButton .address {
        width: 60px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        line-height: 25px;
    }
    
    #maxDiv .navigation .main .leftpart .ConnectedButton .network {
        padding: 0px 10px;
        margin-right: 10px;
        background: #2480FF;
        border-radius: 12px;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        color: #ffff;
        text-align: center;
        float: left;
    
    }

    #maxDiv .navigation .main .leftpart .lang {
        float: right;
        margin-left: 10px;
        img{
            width: 30px;
        }
    }
    
    #maxDiv .navigation .main .el-dialog .el-dialog__body .titleDiv p img {
        width: 20px;
        margin-left: 8px;
    }
    
    #maxDiv .navigation .el-dialog .el-dialog__body {
        padding: 0px 20px !important;
    }
    
    #maxDiv .trade-pc {
        background: url(../assets/static/img/bigBG.jpg) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        // position: relative;
        // z-index: 1000;
        padding-top: 1em;
        padding-bottom: 50px;
        background-repeat: repeat-y;
    }
    
    #maxDiv .trade-pc .main {
        margin: 0 auto;
        width: 35%;
        height: 80%;
    }
    
    #maxDiv .trade-pc .main .swapContent {
        width: 100%;
        height: 500px;
        background: #ffffff;
        box-shadow: 0px 10px 43px 0px rgba(234, 238, 244, 0.51);
        border-radius: 38px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #maxDiv .trade-pc .main .swapContent .tabDiv {
        width: 80%;
        height: 40px;
        margin: 0px auto;
        display: flex;
        background: #FAFAFA;
        border-radius: 12px;
    }
    
    #maxDiv .trade-pc .main .swapContent .tabDiv li {
        flex: 1;
        font-size: 13px;
        text-align: center;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #646464;
        line-height: 40px;
        cursor: pointer;
    }
    
    #maxDiv .trade-pc .main .swapContent .tabDiv .active {
        width: 100%;
        border-radius: 12px;
        border: 1px solid #006BFF;
        font-weight: 500;
        color: #2480FF;
        background: #ffffff;
    }
    
    #maxDiv .trade-pc .main .swapContent .SwapDiv {
        width: 80%;
        height: 80%;
        margin: 20px auto 0px;
    }
    
    #maxDiv .modal .modal-dialog {
        width: 500px !important;
        margin: 200px auto !important;
    }
    
    #maxDiv .modal .modal-dialog .modal-content {
        width: 85%;
        margin: 0 auto;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-header {
        padding: 20px 30px;
        border: none;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-header img {
        width: 20px;
        float: left;
        margin-right: 10px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-header h4 {
        width: 88%;
        float: left;
        line-height: 30px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-header p {
        font-size: 12px;
        font-family: "PingFangSC-Regular, PingFang SC";
        font-weight: 400;
        color: #6B6B6B;
        line-height: 30px;
        height: 30px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-body {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-body .row ul li {
        float: left;
        width: 50%;
        padding-top: 20px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-body .row ul li img {
        width: 20%;
        float: left;
        margin-left: 10px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-body .row ul li span {
        float: left;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
    }

}
@media screen and (max-width: 768px){

    maxDiv {
        background-color: #ffff;
    }
    
    #maxDiv .navigation {
        width: 100%;
        height: 60px;
        background-color: #ffff;
        // position: fixed;
        // top: 0;
        // z-index: 9999999;
    }
    
    #maxDiv .navigation .cursor {
        cursor: pointer;
    }
    
    #maxDiv .navigation .main {
        width: 94%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #maxDiv .navigation .main .logo {
        width: 100px;
        min-width: 140px;
        position: relative;
    }
    
    #maxDiv .navigation .main .logo img {
        width: 100%;
    }
    
    #maxDiv .navigation .main .leftpart .noConnectButton {
        padding: 0px;
        width: 168px;
        height: 32px;
        background: #FAFAFA;
        color: #0E0E0E;
        border: #BEBEBE 0.5px solid;
        border-radius: 12px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 1px;
        outline: none;
        font-size: 0.11rem;
    }
    
    #maxDiv .navigation .main .leftpart .noConnectButton img {
        float: left;
        width: 19%;
    }
    
    #maxDiv .navigation .main .leftpart .ConnectedButton img {
        float: right;
        width: 30px;
    }
    
    #maxDiv .navigation .main .leftpart .ConnectedButton .address {
        width: 60px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        line-height: 25px;
    }
    
    #maxDiv .navigation .main .leftpart .ConnectedButton .network {
        padding: 0px 10px;
        margin-right: 10px;
        background: #2480FF;
        border-radius: 12px;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        color: #ffff;
        text-align: center;
        float: left;
    
    }

    #maxDiv .navigation .main .leftpart .lang {
        float: right;
        margin-left: 5px;
        margin-top: 2px;
        width: 30px;
        img{
            width: 30px;
        }
    }
    
    #maxDiv .navigation .main .el-dialog .el-dialog__body .titleDiv p img {
        width: 20px;
        margin-left: 8px;
    }
    
    #maxDiv .navigation .el-dialog .el-dialog__body {
        padding: 0px 20px !important;
    }
    
    #maxDiv .trade-pc {
        // background: url(../assets/static/img/bigBG.jpg) no-repeat;
        // background-size: 100% 100%;
        background: #FAFCFF;
        width: 100%;
        // height: 940px;
        // position: relative;
        // z-index: 1000;
        padding-top: 1em;
        padding-bottom: 50px;
        background-repeat: repeat-y;
    }
    
    #maxDiv .trade-pc .main {
        margin: 0 auto;
        // width: 35%;
        height: 80%;
    }
    
    #maxDiv .trade-pc .main .swapContent {
        width: 100%;
        height: 500px;
        background: #ffffff;
        box-shadow: 0px 10px 43px 0px rgba(234, 238, 244, 0.51);
        border-radius: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #maxDiv .trade-pc .main .swapContent .tabDiv {
        width: 95%;
        height: 40px;
        margin: 0px auto;
        display: flex;
        background: #FAFAFA;
        border-radius: 12px;
    }
    
    #maxDiv .trade-pc .main .swapContent .tabDiv li {
        flex: 1;
        font-size: 0.12rem;
        text-align: center;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #646464;
        line-height: 40px;
        cursor: pointer;
    }
    
    #maxDiv .trade-pc .main .swapContent .tabDiv .active {
        width: 100%;
        border-radius: 12px;
        border: 1px solid #006BFF;
        font-weight: 500;
        color: #2480FF;
        background: #ffffff;
    }
    
    #maxDiv .trade-pc .main .swapContent .SwapDiv {
        width: 94%;
        height: 80%;
        margin: 20px auto 0px;
    }
    
    #maxDiv .modal .modal-dialog {
        width: 500px !important;
        margin: 200px auto !important;
    }
    
    #maxDiv .modal .modal-dialog .modal-content {
        width: 85%;
        margin: 0 auto;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-header {
        padding: 20px 30px;
        border: none;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-header img {
        width: 20px;
        float: left;
        margin-right: 10px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-header h4 {
        width: 88%;
        float: left;
        line-height: 30px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-header p {
        font-size: 12px;
        font-family: "PingFangSC-Regular, PingFang SC";
        font-weight: 400;
        color: #6B6B6B;
        line-height: 30px;
        height: 30px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-body {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-body .row ul li {
        float: left;
        width: 50%;
        padding-top: 20px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-body .row ul li img {
        width: 20%;
        float: left;
        margin-left: 10px;
    }
    
    #maxDiv .modal .modal-dialog .modal-content .modal-body .row ul li span {
        float: left;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
    }


}

