.myBtn {
    // display: none;  /*隐藏按钮*/
    background: #2480FF;
    border-radius: 12px;
    font-size: 12px;
    color: #ffffff;
    padding: .7em;
    vertical-align: middle;
}

.myBtn-disabled {
    // display: none;  /*隐藏按钮*/
    background: #D4DDE9;
    border-radius: 12px;
    font-size: 12px;
    color: #ffffff;
    padding: .7em;
    vertical-align: middle;
}