<!-- 取出流动性 -->
<div class="withdrawLiqui-pc">
    <div class="main">
        <div class="LiquidityRatio">
            <p>{{'Your pool share'|translate}} {{boot.balance.lp.toFixed(9)}} (sSSLP)</p>
            <!-- <div class="enterDiv">
                <input type="text" name="" placeholder="Please enter a number (%)">
            </div> -->
        </div>
        <div>
            <div class="el-checkbox-group">
                <div class="coinDiv">
                    <div class="firstPart">
                        <div>
                            <img src="assets/static/img/coins/DAI.png" alt="">
                            <span>DAI</span>
                        </div>
                        <div>
                            <!-- <input type="checkbox"> -->
                        </div>
                    </div>
                    <div class="second">
                        <input type="text" name="daiAmt" [(ngModel)]="daiAmt" placeholder="{{'Enter an amount'|translate}}">
                    </div>
                </div>
                <div class="coinDiv">
                    <div class="firstPart">
                        <div>
                            <img src="assets/static/img/coins/BUSD.png" alt="">
                            <span>BUSD</span>
                        </div>
                        <div>
                            <!-- <input type="checkbox"> -->
                        </div>
                    </div>
                    <div class="second">
                        <input type="text" name="busdAmt" [(ngModel)]="busdAmt" placeholder="{{'Enter an amount'|translate}}">
                    </div>
                </div>
                <div class="coinDiv">
                    <div class="firstPart">
                        <div>
                            <img src="assets/static/img/coins/USDT.png" alt="">
                            <span>USDT</span>
                        </div>
                        <div>
                            <!-- <input type="checkbox"> -->
                        </div>
                    </div>
                    <div class="second">
                        <input type="text" name="usdtAmt" [(ngModel)]="usdtAmt" placeholder="{{'Enter an amount'|translate}}">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="butDiv">
        <button *ngIf="boot.accounts.length>0" (click)="redeemCoin()" [disabled]="status===1"
            [ngClass]="{'myBtn':status===0||status===2,'myBtn-disabled': status===1}">{{"Withdraw Liquidity"|translate}}</button>
        <button *ngIf="boot.accounts.length==0" (click)="boot.connectWallet()" class="myBtn">{{"Connect to a
            Wallet"|translate}}</button>
    </div>
</div>