.row ul li {
    float: left;
    width: 50%;
    padding-top: 20px;
}

.row ul li img {
    width: 20%;
    float: left;
    margin: 0 10px;
}

.row ul li span {
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
}