<h1 mat-dialog-title>{{"Install a Wallet"|translate}}</h1>
<div mat-dialog-content>
    <div class="row">
        <ul>
            <li>
                <a href="https://metamask.io/" target="_blank">
                    <img src="assets/static/img/wallet/metamask.png" alt="">
                    <span>MetaMask</span>
                </a>
            </li>
            <li>
                <a href="https://chrome.google.com/webstore/detail/binance-chain-wallet/fhbohimaelbohpjbbldcngcnapndodjp"
                    target="_blank">
                    <img src="assets/static/img/wallet/binanceWLT.jpg" alt="">
                    <span>Binance</span>
                </a>
            </li>
            <li>
                <a (click)="connectWC()" 
                    target="_blank">
                    <img src="assets/static/img/wallet/walletconnect.png" alt="">
                    <span>Wallet Connect</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="goToBsc()">{{"Yes"|translate}}</button>
  <button mat-button mat-dialog-close>{{"No"|translate}}</button> -->
</div>